*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    background: var(--bg);
    overflow: hidden;
    position: fixed;
    inset: 0;
    font-family: var(--font);
    color: var(--white);
}